

# Common
README.md
CHANGELOG.md
docker-compose.yml
Dockerfile

# Virtual environments
venv
env
.venv
.env

# Python
*.pyc
.Python

# Editors
vscode
.idea

# Git
.git
.gitignore
.gitattributes

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml