.ipynb_checkpoints
.idea
*.pyc

summer_school_2024/similar_proteins*
summer_school_2024/search_results*

pdbe_tutorial_2024/similar_proteins*
pdbe_tutorial_2024/search_results*


# Environments
env/
venv/
.venv/
.env/

# Editors
.vscode/