.ipynb_checkpoints
.idea
*.pyc

pdbe_tutorial/similar_proteins*
pdbe_tutorial/search_results*

# Environments
env/
venv/
.venv/
.env/

# Editors
.vscode/

# Trash
pdbe_tutorial/.Trash-0/
.Trash-0/

*/__pycache__/
